/* .cl-rootBox.cl-userProfile-root .cl-cardBox {
  box-shadow: none;
}

.cl-rootBox.cl-userProfile-root .cl-cardBox .cl-navbar {
  background: none;
  border: none;
  box-shadow: none;
}

.cl-rootBox.cl-userProfile-root .cl-cardBox .cl-scrollBox {
  background: none;
  border: none;
  box-shadow: none;
}

.cl-rootBox.cl-userProfile-root .cl-cardBox .cl-scrollBox .cl-pageScrollBox {
  background: none;
  border: none;
  box-shadow: none;
} */
