/*
  Themes from: https://tweakcn.com/editor/theme
*/

@import "tailwindcss";
@import "tw-animate-css";
@source "../**/*.{ts,tsx}";
@source "../../web/**/*.{ts,tsx}";
@source "../../../apps/extro/**/*.{ts,tsx}";

@plugin '@tailwindcss/typography';

/*
  ---break---
*/

@plugin "tailwind-scrollbar-hide";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.97 0.01 286.15);
  --foreground: oklch(0.3 0.06 282.42);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3 0.06 282.42);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3 0.06 282.42);
  --primary: oklch(0.54 0.18 288.03);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.92 0.04 292.69);
  --secondary-foreground: oklch(0.41 0.1 288.17);
  --muted: oklch(0.96 0.01 286.15);
  --muted-foreground: oklch(0.54 0.05 284.74);
  --accent: oklch(0.92 0.04 262.14);
  --accent-foreground: oklch(0.3 0.06 282.42);
  --destructive: oklch(0.69 0.21 14.99);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.91 0.02 285.96);
  --input: oklch(0.91 0.02 285.96);
  --ring: oklch(0.54 0.18 288.03);
  --chart-1: oklch(0.54 0.18 288.03);
  --chart-2: oklch(0.7 0.16 288.99);
  --chart-3: oklch(0.57 0.21 276.71);
  --chart-4: oklch(0.64 0.19 281.81);
  --chart-5: oklch(0.45 0.18 279.38);
  --sidebar: oklch(0.96 0.01 286.15);
  --sidebar-foreground: oklch(0.3 0.06 282.42);
  --sidebar-primary: oklch(0.54 0.18 288.03);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.92 0.04 262.14);
  --sidebar-accent-foreground: oklch(0.3 0.06 282.42);
  --sidebar-border: oklch(0.91 0.02 285.96);
  --sidebar-ring: oklch(0.54 0.18 288.03);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --font-weight-medium: 501;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px
    hsl(240 30% 25% / 0.12);
  --shadow:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px
    hsl(240 30% 25% / 0.12);
  --shadow-md:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px
    hsl(240 30% 25% / 0.12);
  --shadow-lg:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px
    hsl(240 30% 25% / 0.12);
  --shadow-xl:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px
    hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.3);
  --brand: oklch(0.623 0.214 259.815);
  --highlight: oklch(0.852 0.199 91.936);

  /* Gradient slide show Colors */
  --gradient-lime: #91a100;
  --gradient-ocean: #0e5987;
  --gradient-wine: #61092b;
  --gradient-rust: #ce3000;
}

.dark {
  --background: oklch(0.17 0.02 283.8);
  --foreground: oklch(0.92 0.03 285.88);
  --card: oklch(0.23 0.04 282.93);
  --card-foreground: oklch(0.92 0.03 285.88);
  --popover: oklch(0.23 0.04 282.93);
  --popover-foreground: oklch(0.92 0.03 285.88);
  --primary: oklch(0.72 0.16 290.4);
  --primary-foreground: oklch(0.17 0.02 283.8);
  --secondary: oklch(0.31 0.07 283.46);
  --secondary-foreground: oklch(0.84 0.08 285.91);
  --muted: oklch(0.27 0.06 281.44);
  --muted-foreground: oklch(0.72 0.05 285.17);
  --accent: oklch(0.34 0.08 280.97);
  --accent-foreground: oklch(0.92 0.03 285.88);
  --destructive: oklch(0.69 0.21 14.99);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.33 0.06 282.58);
  --input: oklch(0.33 0.06 282.58);
  --ring: oklch(0.72 0.16 290.4);
  --chart-1: oklch(0.72 0.16 290.4);
  --chart-2: oklch(0.64 0.1 274.91);
  --chart-3: oklch(0.75 0.12 244.75);
  --chart-4: oklch(0.71 0.1 186.68);
  --chart-5: oklch(0.75 0.18 346.81);
  --sidebar: oklch(0.23 0.04 282.93);
  --sidebar-foreground: oklch(0.92 0.03 285.88);
  --sidebar-primary: oklch(0.72 0.16 290.4);
  --sidebar-primary-foreground: oklch(0.17 0.02 283.8);
  --sidebar-accent: oklch(0.34 0.08 280.97);
  --sidebar-accent-foreground: oklch(0.92 0.03 285.88);
  --sidebar-border: oklch(0.33 0.06 282.58);
  --sidebar-ring: oklch(0.72 0.16 290.4);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px
    hsl(240 30% 25% / 0.12);
  --shadow:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px
    hsl(240 30% 25% / 0.12);
  --shadow-md:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px
    hsl(240 30% 25% / 0.12);
  --shadow-lg:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px
    hsl(240 30% 25% / 0.12);
  --shadow-xl:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px
    hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.3);
  --brand: oklch(0.707 0.165 254.624);
  --highlight: oklch(0.852 0.199 91.936);
}

.theme-spacing-comfortable {
  --radius: 0.75rem;
  --spacing: 0.3rem;
}

.theme-spacing-compact {
  --radius: 0.5rem;
  --spacing: 0.25rem;
}

.theme-pastel-dreams {
  --background: oklch(0.97 0.01 314.78);
  --foreground: oklch(0.37 0.03 259.73);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.37 0.03 259.73);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.37 0.03 259.73);
  --primary: oklch(0.71 0.16 293.54);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.91 0.05 306.09);
  --secondary-foreground: oklch(0.45 0.03 256.8);
  --muted: oklch(0.95 0.03 307.17);
  --muted-foreground: oklch(0.55 0.02 264.36);
  --accent: oklch(0.94 0.03 321.94);
  --accent-foreground: oklch(0.37 0.03 259.73);
  --destructive: oklch(0.81 0.1 19.57);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.91 0.05 306.09);
  --input: oklch(0.91 0.05 306.09);
  --ring: oklch(0.71 0.16 293.54);
  --chart-1: oklch(0.71 0.16 293.54);
  --chart-2: oklch(0.61 0.22 292.72);
  --chart-3: oklch(0.54 0.25 293.01);
  --chart-4: oklch(0.49 0.24 292.58);
  --chart-5: oklch(0.43 0.21 292.76);
  --sidebar: oklch(0.91 0.05 306.09);
  --sidebar-foreground: oklch(0.37 0.03 259.73);
  --sidebar-primary: oklch(0.71 0.16 293.54);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.94 0.03 321.94);
  --sidebar-accent-foreground: oklch(0.37 0.03 259.73);
  --sidebar-border: oklch(0.91 0.05 306.09);
  --sidebar-ring: oklch(0.71 0.16 293.54);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 1.5rem;
  --shadow-2xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
  --shadow-sm:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow-md:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 2px 4px -5px hsl(0 0% 0% / 0.08);
  --shadow-lg:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 4px 6px -5px hsl(0 0% 0% / 0.08);
  --shadow-xl:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 8px 10px -5px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.2);
}

.theme-pastel-dreams.dark {
  --background: oklch(0.22 0.01 56.04);
  --foreground: oklch(0.93 0.03 272.79);
  --card: oklch(0.28 0.03 307.23);
  --card-foreground: oklch(0.93 0.03 272.79);
  --popover: oklch(0.28 0.03 307.23);
  --popover-foreground: oklch(0.93 0.03 272.79);
  --primary: oklch(0.79 0.12 295.75);
  --primary-foreground: oklch(0.22 0.01 56.04);
  --secondary: oklch(0.34 0.04 308.85);
  --secondary-foreground: oklch(0.87 0.01 258.34);
  --muted: oklch(0.28 0.03 307.23);
  --muted-foreground: oklch(0.71 0.02 261.32);
  --accent: oklch(0.39 0.05 304.64);
  --accent-foreground: oklch(0.87 0.01 258.34);
  --destructive: oklch(0.81 0.1 19.57);
  --destructive-foreground: oklch(0.22 0.01 56.04);
  --border: oklch(0.34 0.04 308.85);
  --input: oklch(0.34 0.04 308.85);
  --ring: oklch(0.79 0.12 295.75);
  --chart-1: oklch(0.79 0.12 295.75);
  --chart-2: oklch(0.71 0.16 293.54);
  --chart-3: oklch(0.61 0.22 292.72);
  --chart-4: oklch(0.54 0.25 293.01);
  --chart-5: oklch(0.49 0.24 292.58);
  --sidebar: oklch(0.34 0.04 308.85);
  --sidebar-foreground: oklch(0.93 0.03 272.79);
  --sidebar-primary: oklch(0.79 0.12 295.75);
  --sidebar-primary-foreground: oklch(0.22 0.01 56.04);
  --sidebar-accent: oklch(0.39 0.05 304.64);
  --sidebar-accent-foreground: oklch(0.87 0.01 258.34);
  --sidebar-border: oklch(0.34 0.04 308.85);
  --sidebar-ring: oklch(0.79 0.12 295.75);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 1.5rem;
  --shadow-2xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
  --shadow-sm:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow-md:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 2px 4px -5px hsl(0 0% 0% / 0.08);
  --shadow-lg:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 4px 6px -5px hsl(0 0% 0% / 0.08);
  --shadow-xl:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 8px 10px -5px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.2);
}
.theme-tangerine {
  --background: oklch(0.94 0 236.5);
  --foreground: oklch(0.32 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.32 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.32 0 0);
  --primary: oklch(0.64 0.17 36.44);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.97 0 264.54);
  --secondary-foreground: oklch(0.45 0.03 256.8);
  --muted: oklch(0.98 0 247.84);
  --muted-foreground: oklch(0.55 0.02 264.36);
  --accent: oklch(0.91 0.02 243.82);
  --accent-foreground: oklch(0.38 0.14 265.52);
  --destructive: oklch(0.64 0.21 25.33);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9 0.01 247.88);
  --input: oklch(0.97 0 264.54);
  --ring: oklch(0.64 0.17 36.44);
  --chart-1: oklch(0.72 0.06 248.68);
  --chart-2: oklch(0.79 0.09 35.96);
  --chart-3: oklch(0.58 0.08 254.16);
  --chart-4: oklch(0.5 0.08 259.49);
  --chart-5: oklch(0.42 0.1 264.03);
  --sidebar: oklch(0.9 0 258.33);
  --sidebar-foreground: oklch(0.32 0 0);
  --sidebar-primary: oklch(0.64 0.17 36.44);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.91 0.02 243.82);
  --sidebar-accent-foreground: oklch(0.38 0.14 265.52);
  --sidebar-border: oklch(0.93 0.01 264.53);
  --sidebar-ring: oklch(0.64 0.17 36.44);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.theme-tangerine.dark {
  --background: oklch(0.26 0.03 262.67);
  --foreground: oklch(0.92 0 0);
  --card: oklch(0.31 0.03 268.64);
  --card-foreground: oklch(0.92 0 0);
  --popover: oklch(0.29 0.02 268.4);
  --popover-foreground: oklch(0.92 0 0);
  --primary: oklch(0.64 0.17 36.44);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.31 0.03 266.71);
  --secondary-foreground: oklch(0.92 0 0);
  --muted: oklch(0.31 0.03 266.71);
  --muted-foreground: oklch(0.72 0 0);
  --accent: oklch(0.34 0.06 267.59);
  --accent-foreground: oklch(0.88 0.06 254.13);
  --destructive: oklch(0.64 0.21 25.33);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.38 0.03 269.73);
  --input: oklch(0.38 0.03 269.73);
  --ring: oklch(0.64 0.17 36.44);
  --chart-1: oklch(0.72 0.06 248.68);
  --chart-2: oklch(0.77 0.09 34.19);
  --chart-3: oklch(0.58 0.08 254.16);
  --chart-4: oklch(0.5 0.08 259.49);
  --chart-5: oklch(0.42 0.1 264.03);
  --sidebar: oklch(0.31 0.03 267.74);
  --sidebar-foreground: oklch(0.92 0 0);
  --sidebar-primary: oklch(0.64 0.17 36.44);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.34 0.06 267.59);
  --sidebar-accent-foreground: oklch(0.88 0.06 254.13);
  --sidebar-border: oklch(0.38 0.03 269.73);
  --sidebar-ring: oklch(0.64 0.17 36.44);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.theme-perpetuity {
  --background: oklch(0.95 0.01 197.01);
  --foreground: oklch(0.38 0.06 212.66);
  --card: oklch(0.97 0.01 197.07);
  --card-foreground: oklch(0.38 0.06 212.66);
  --popover: oklch(0.97 0.01 197.07);
  --popover-foreground: oklch(0.38 0.06 212.66);
  --primary: oklch(0.56 0.09 203.28);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.92 0.02 196.84);
  --secondary-foreground: oklch(0.38 0.06 212.66);
  --muted: oklch(0.93 0.01 196.97);
  --muted-foreground: oklch(0.54 0.06 201.57);
  --accent: oklch(0.9 0.03 201.89);
  --accent-foreground: oklch(0.38 0.06 212.66);
  --destructive: oklch(0.57 0.19 25.54);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.89 0.02 204.41);
  --input: oklch(0.92 0.02 196.84);
  --ring: oklch(0.56 0.09 203.28);
  --chart-1: oklch(0.56 0.09 203.28);
  --chart-2: oklch(0.64 0.1 201.59);
  --chart-3: oklch(0.71 0.11 201.25);
  --chart-4: oklch(0.77 0.1 201.18);
  --chart-5: oklch(0.83 0.08 200.97);
  --sidebar: oklch(0.93 0.02 205.32);
  --sidebar-foreground: oklch(0.38 0.06 212.66);
  --sidebar-primary: oklch(0.56 0.09 203.28);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9 0.03 201.89);
  --sidebar-accent-foreground: oklch(0.38 0.06 212.66);
  --sidebar-border: oklch(0.89 0.02 204.41);
  --sidebar-ring: oklch(0.56 0.09 203.28);
  --font-sans: Courier New, monospace;
  --font-serif: Courier New, monospace;
  --font-mono: Courier New, monospace;
  --radius: 0.125rem;
  --shadow-2xs: 1px 1px 2px 0px hsl(185 70% 30% / 0.07);
  --shadow-xs: 1px 1px 2px 0px hsl(185 70% 30% / 0.07);
  --shadow-sm:
    1px 1px 2px 0px hsl(185 70% 30% / 0.15), 1px 1px 2px -1px
    hsl(185 70% 30% / 0.15);
  --shadow:
    1px 1px 2px 0px hsl(185 70% 30% / 0.15), 1px 1px 2px -1px
    hsl(185 70% 30% / 0.15);
  --shadow-md:
    1px 1px 2px 0px hsl(185 70% 30% / 0.15), 1px 2px 4px -1px
    hsl(185 70% 30% / 0.15);
  --shadow-lg:
    1px 1px 2px 0px hsl(185 70% 30% / 0.15), 1px 4px 6px -1px
    hsl(185 70% 30% / 0.15);
  --shadow-xl:
    1px 1px 2px 0px hsl(185 70% 30% / 0.15), 1px 8px 10px -1px
    hsl(185 70% 30% / 0.15);
  --shadow-2xl: 1px 1px 2px 0px hsl(185 70% 30% / 0.38);
}

.theme-perpetuity.dark {
  --background: oklch(0.21 0.02 224.45);
  --foreground: oklch(0.85 0.13 195.04);
  --card: oklch(0.23 0.03 216.07);
  --card-foreground: oklch(0.85 0.13 195.04);
  --popover: oklch(0.23 0.03 216.07);
  --popover-foreground: oklch(0.85 0.13 195.04);
  --primary: oklch(0.85 0.13 195.04);
  --primary-foreground: oklch(0.21 0.02 224.45);
  --secondary: oklch(0.38 0.06 216.5);
  --secondary-foreground: oklch(0.85 0.13 195.04);
  --muted: oklch(0.29 0.04 218.82);
  --muted-foreground: oklch(0.66 0.1 195.05);
  --accent: oklch(0.38 0.06 216.5);
  --accent-foreground: oklch(0.85 0.13 195.04);
  --destructive: oklch(0.62 0.21 25.81);
  --destructive-foreground: oklch(0.96 0 0);
  --border: oklch(0.38 0.06 216.5);
  --input: oklch(0.38 0.06 216.5);
  --ring: oklch(0.85 0.13 195.04);
  --chart-1: oklch(0.85 0.13 195.04);
  --chart-2: oklch(0.66 0.1 195.05);
  --chart-3: oklch(0.58 0.08 195.07);
  --chart-4: oklch(0.43 0.06 202.62);
  --chart-5: oklch(0.31 0.05 204.16);
  --sidebar: oklch(0.21 0.02 224.45);
  --sidebar-foreground: oklch(0.85 0.13 195.04);
  --sidebar-primary: oklch(0.85 0.13 195.04);
  --sidebar-primary-foreground: oklch(0.21 0.02 224.45);
  --sidebar-accent: oklch(0.38 0.06 216.5);
  --sidebar-accent-foreground: oklch(0.85 0.13 195.04);
  --sidebar-border: oklch(0.38 0.06 216.5);
  --sidebar-ring: oklch(0.85 0.13 195.04);
  --font-sans: Source Code Pro, monospace;
  --font-serif: Source Code Pro, monospace;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.125rem;
  --shadow-2xs: 1px 1px 2px 0px hsl(180 70% 60% / 0.1);
  --shadow-xs: 1px 1px 2px 0px hsl(180 70% 60% / 0.1);
  --shadow-sm:
    1px 1px 2px 0px hsl(180 70% 60% / 0.2), 1px 1px 2px -1px
    hsl(180 70% 60% / 0.2);
  --shadow:
    1px 1px 2px 0px hsl(180 70% 60% / 0.2), 1px 1px 2px -1px
    hsl(180 70% 60% / 0.2);
  --shadow-md:
    1px 1px 2px 0px hsl(180 70% 60% / 0.2), 1px 2px 4px -1px
    hsl(180 70% 60% / 0.2);
  --shadow-lg:
    1px 1px 2px 0px hsl(180 70% 60% / 0.2), 1px 4px 6px -1px
    hsl(180 70% 60% / 0.2);
  --shadow-xl:
    1px 1px 2px 0px hsl(180 70% 60% / 0.2), 1px 8px 10px -1px
    hsl(180 70% 60% / 0.2);
  --shadow-2xl: 1px 1px 2px 0px hsl(180 70% 60% / 0.5);
}

.theme-gradient-top-left {
  --gradient-top-left: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.3),
    transparent
  );

  @layer utilities {
    .bg-primary {
      background-image: var(--gradient-top-left);
    }
  }
}

.theme-gradient-top-right {
  --gradient-top-right: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0.3),
    transparent
  );

  @layer utilities {
    .bg-primary {
      background-image: var(--gradient-top-right);
    }
  }
}

.theme-gradient-right {
  --gradient-right: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);

  @layer utilities {
    .bg-primary {
      background-image: var(--gradient-right);
    }
  }
}

.theme-gradient-left {
  --gradient-left: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent);

  @layer utilities {
    .bg-primary {
      background-image: var(--gradient-left);
    }
  }
}

@theme {
  --animate-x-slider: x-slider linear 30s infinite;
  --animate-shine: shine 3s ease-out infinite;
  --animate-gradient-flow: gradientFlow 10s ease 0s infinite normal none running;
  --animate-ellipsis: ellipsis 2s infinite;

  @keyframes x-slider {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-100% - 4rem));
    }
  }

  @keyframes shine {
    0% {
      background-position: 200% 0;
    }
    25% {
      background-position: -200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }

  @keyframes gradientFlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes ellipsis {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.2;
      transform: scale(1.2);
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-weight-medium: var(--font-weight-medium);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --color-highlight: var(--highlight);
  --color-brand: var(--brand);

  /* Gradient slide show Colors */
  --gradient-lime: var(--gradient-lime);
  --gradient-ocean: var(--gradient-ocean);
  --gradient-wine: var(--gradient-wine);
  --gradient-rust: var(--gradient-rust);

  /* Custom Breakpoints */
  --breakpoint-xxs: 20rem;
  --breakpoint-xs: 30rem;
}

/* This layer is added by shadcn/ui */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* This layer is by next-forge */
@layer base {
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border;
  }
  * {
    @apply min-w-0;
  }
  html {
    text-rendering: optimizelegibility;
  }
  body {
    @apply min-h-[100dvh];
  }
  input::placeholder,
  textarea::placeholder {
    @apply text-muted-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }
}

/* Typography plugin */
@utility prose {
  --tw-prose-body: var(--color-foreground);
  --tw-prose-headings: var(--color-foreground);
  --tw-prose-lead: var(--color-muted-foreground);
  --tw-prose-links: var(--color-primary);
  --tw-prose-bold: var(--color-foreground);
  --tw-prose-counters: var(--color-foreground);
  --tw-prose-bullets: var(--color-muted-foreground);
  --tw-prose-hr: var(--color-muted-foreground);
  --tw-prose-quotes: var(--color-muted-foreground);
  --tw-prose-quote-borders: var(--color-border);
  --tw-prose-captions: var(--color-muted-foreground);
  --tw-prose-code: var(--color-foreground);
  --tw-prose-pre-code: var(--color-foreground);
  --tw-prose-pre-bg: var(--color-background);
  --tw-prose-th-borders: var(--color-border);
  --tw-prose-td-borders: var(--color-border);
  --tw-prose-invert-body: var(--color-foreground);
  --tw-prose-invert-headings: var(--color-foreground);
  --tw-prose-invert-lead: var(--color-muted-foreground);
  --tw-prose-invert-links: var(--color-primary);
  --tw-prose-invert-bold: var(--color-foreground);
  --tw-prose-invert-counters: var(--color-foreground);
  --tw-prose-invert-bullets: var(--color-foreground);
  --tw-prose-invert-hr: var(--color-muted-foreground);
  --tw-prose-invert-quotes: var(--color-muted-foreground);
  --tw-prose-invert-quote-borders: var(--color-border);
  --tw-prose-invert-captions: var(--color-muted-foreground);
  --tw-prose-invert-code: var(--color-foreground);
  --tw-prose-invert-pre-code: var(--color-foreground);
  --tw-prose-invert-pre-bg: var(--color-background);
  --tw-prose-invert-th-borders: var(--color-border);
  --tw-prose-invert-td-borders: var(--color-border);
}
